{% extends 'inner_index.html' %}
{% load static %}
{% block title %}Our Story{% endblock title %}
{% block page_level_css %}
p{
  font-size: 16px;
  line-height: 1.5;
  justify-content: center;
}
{% endblock page_level_css %}
{% block page_level_js %}{% endblock page_level_js %}
{% block content %}
  <!--breadcrumbs-->
  <div class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Our Story</h2>
        <ol>
          <li><a href="{% url 'Home' %}">Home</a></li>
          <li><a herf="{% url 'Story' %}"></a>Our Story</li>
        </ol>
      </div>
    </div>
  </div>
  <!--breadcrumbs ends-->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <p>Learn More <span class="fw-bolder">About Us</span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <div class="position-relative mt-4">
                <img src="/static/img/about-2.jpg" style="padding-right:15px" class="img-fluid" alt="">
                {% comment %} <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> {% endcomment %}
              </div>
            <h3 data-aos="fade-right" class="fw-bolder fs-2">Sim Rejuvenation is an initiative designed by Mrs. Simran Mallick to provide individuals with an opportunity to experience inner peace and the joy of a healthy body.</h3>
            <p class="fs-5" style="text-align: justify;
            text-justify: inter-word;">
            Sim Rejuvenation offers a unique and powerful combination of programs, carefully tailored and sequenced to bring vibrancy and balance to one's life energies, which are essential for healthy living and preventing chronic ailments.

            Apart from infectious diseases or genetic abnormalities, stress is the most common reason for ill health today. The fast pace of modern living keeps us in fight or flight mode, and constant exposure to the hazards of modern life, such as food and environmental toxins, loud noise, electromagnetic radiation, and more, can predispose us towards chronic, degenerative, and non-specific diseases. If left unattended, these can evolve into serious ailments that could permanently damage health and well-being.
            
            Sim Rejuvenation programs involve powerful processes aimed at bringing vibrancy and proper balance to the life energies that are crucial for preventing and uprooting chronic ailments. Scientifically structured, the programs uniquely combine allopathic, alternative, and complementary therapies with the sublime wisdom of various ancient Indian medicinal practices.
            
            The programs contain a synthesis of yogic methods and practices, diet, massage, therapeutic baths and wraps, rejuvenation tonics, and Siddha medicines (a form of traditional medicine older than Ayurveda), as well as specialized alternative medicines (if prescribed by a doctor) and other program-specific methods. Sim Rejuvenation volunteers provide exceptional care and attention to all participants, enhancing the rejuvenation process.
            <br>
            From the moment participants arrive in the beautiful surroundings of the sacred Velliangiri Hills, their rejuvenation begins. The serene atmosphere of the Sim yoga center and meditation shrine has profound healing effects.
            <br>
            Come and relax, renew, revive, and rejuvenate. 
            <br>
            Join us for sharing and experiences.
            </p>
          </div>
        </div>
        <div class="col-lg-7 position-relative about-img" style="background-image: url(/static/img/chimkandi.jpg);" data-aos="fade-up" data-aos-delay="150">
        </div>        
      </div>
    </div>
  </section>
{% endblock content %}