{% extends 'inner_index.html' %}
{% load static %}
{% block title %}Yoga &amp; Meditation{% endblock title %}
{% block page_level_css %}
.container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  width: 50%;
  height: auto;
  padding :50px 50px 50px;
}

.text {
  width: 50%;
  padding: 0 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
.events {
  padding-left: 80px;
  padding-right:80px
}
{% endblock page_level_css %}
{% block page_level_js %}{% endblock page_level_js %}
{% block content %}
<div class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Yoga &amp; Meditation</h3>
        <ol>
          <li><a href="{% url 'Home' %}">Home</a></li>
          <li><a href="{% url 'Services' %}">Services</a></li>
          <li><a herf="{% url 'Services6' %}">Yoga &amp; Meditation</a></li>
        </ol>
      </div>
    </div>
</div>
<!--breadcrumbs ends-->
<div class="container container1 data-aos="fade-up"">
  <img class="data-aos="fade-up" data-aos-delay="100"" src="{% static '/img/services_images/carousel_Chakra_Clearing_Yoga_of_the_Mind.png' %}">
<div class="text data-aos="fade-up" data-aos-delay="100"">
  <p>Yoga's incorporation of meditation and breathing can help improve a person's mental well-being. “Regular yoga practice creates mental clarity and calmness; increases body awareness; relieves chronic stress patterns; relaxes the mind; centers attention; and sharpens concentration</p>
</div>
</div>
<!--Gallary-->
{% comment %} <section class="events">
<div class="container-fluid" data-aos="fade-up">

  <div class="section-header">
    <p>Gallary</p>
  </div>

  <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper-wrapper">

      <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/static/img/menu/tear1.jpeg)">
      </div><!-- End Event item -->

      <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/static/img/menu/tear2.jpeg)">
      </div><!-- End Event item -->

      <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/static/img/menu/tear3.jpg)">
      </div><!-- End Event item -->

      <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/static/img/menu/tear4.jpg)">
      </div><!-- End Event item -->

      <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/static/img/menu/tear5.png)">
      </div><!-- End Event item -->

      <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/static/img/menu/tear6.jpg)">
      </div><!-- End Event item -->

    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
</section> {% endcomment %}

{% endblock content %}